@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Stuyvesant High School</strong><br />
    Address: 345 Chambers St, New York, NY 10282<br />
    Phone:212.000.0000
</address>

<address>
    <strong>Principal: Seung Yu</strong> <br />
</address>
